@use "../util" as *;

body {
  padding-block: rem(20) rem(40);
  padding-inline: rem(20);
}

@include breakpoint(medium) {
  body {
    padding-block: rem(30) rem(50);
    padding-inline: rem(30);
  }
  
  main {
    max-width: rem(900);

  }

  .list {
    flex-direction: row;
    justify-content: space-between;
  }

  .cards {
    grid-template-columns: repeat(2, 1fr);
  }

  .card {
    height: rem(220);
  }

  .reset {
    margin-block-start: rem(40);
  }
}

@include breakpoint(large) {
  body {
  }
  
  main {
    max-width: rem(1300);

  }

  .cards {
    grid-template-columns: repeat(3, 1fr);
  }
}
