@use "../util" as *;

:root {
  // Neutral
  --c-neutral-900: hsl(227, 75%, 14%);
  --c-neutral-800: hsl(226, 25%, 17%);
  --c-neutral-700: hsl(225, 23%, 24%);
  --c-neutral-600: hsl(226, 11%, 37%);
  --c-neutral-300: hsl(0, 0%, 78%);
  --c-neutral-200: hsl(217, 61%, 90%);
  --c-neutral-100: hsl(0, 0%, 93%);
  --c-neutral-0: hsl(200, 60%, 99%);

  // Red
  --c-red-400: hsl(3, 86%, 64%);
  --c-red-500: hsl(3, 71%, 56%);
  --c-red-700: hsl(3, 77%, 44%);

  // Gradient
  --c-gradient-light-1: #ebf2fc;
  --c-gradient-light-2: #eef8f9;
  --c-gradient-dark-1: #040918;
  --c-gradient-dark-2: #091540;

  // gradient
  --gradient-light: linear-gradient(
    180deg,
    var(--c-gradient-light-1) 0%,
    var(--c-gradient-light-2) 100%
  );
  --gradient-dark: linear-gradient(
    180deg,
    var(--c-gradient-dark-1) 0%,
    var(--c-gradient-dark-2) 100%
  );
  --html-background: var(--c-neutral-600);
}

@media (prefers-color-scheme: dark) {
  :root {
    --body-background: var(--gradient-dark);
    --element-background: var(--c-neutral-800);
    --border: var(--c-neutral-600);
    --border-shadow: none;
    --header-button: var(--c-neutral-700);
    --font: var(--c-neutral-100);
    --button-hover: var(--c-neutral-600);
    --button-active: var(--c-red-500);
    --button-active-text: var(--c-neutral-900);
    --button-active-border: var(--c-red-500);
    --toggle-inactive-background: var(--c-neutral-600);
    --toggle-active-background: var(--c-red-500);
    --toggle-button: var(--c-neutral-0);
    --card-text: var(--c-neutral-300);
    --remove-button-border: var(--c-neutral-600);
    --remove-text: var(--c-neutral-300);
    --header-border: none;

    .header__logo path:nth-child(1) {
      fill: #f25c54;
    }
    .header__logo path:nth-child(2) {
      fill: #fbfdfe;
    }
  }
}

body.light {
  --body-background: var(--gradient-light);
  --element-background: var(--c-neutral-0);
  --border: var(--c-neutral-200);
  --border-shadow: var(--c-neutral-200);
  --header-button: var(--c-neutral-100);
  --font: var(--c-neutral-900);
  --button-hover: var(--c-neutral-300);
  --button-active: var(--c-red-700);
  --button-active-text: var(--c-neutral-0);
  --button-active-border: var(--c-red-700);
  --toggle-inactive-background: var(--c-neutral-300);
  --toggle-active-background: var(--c-red-700);
  --toggle-button: var(--c-neutral-0);
  --card-text: var(--c-neutral-600);
  --remove-button-border: var(--c-neutral-300);
  --remove-text: var(--c-neutral-900);
  --header-border: 1.5px solid var(--border);

  .header__logo path:nth-child(1) {
    fill: #c7231a;
  }
  .header__logo path:nth-child(2) {
    fill: #091540;
  }
}

body.dark {
  --body-background: var(--gradient-dark);
  --element-background: var(--c-neutral-800);
  --border: var(--c-neutral-600);
  --border-shadow: none;
  --header-button: var(--c-neutral-700);
  --font: var(--c-neutral-100);
  --button-hover: var(--c-neutral-600);
  --button-active: var(--c-red-500);
  --button-active-text: var(--c-neutral-900);
  --button-active-border: var(--c-red-500);
  --toggle-inactive-background: var(--c-neutral-600);
  --toggle-active-background: var(--c-red-500);
  --toggle-button: var(--c-neutral-0);
  --card-text: var(--c-neutral-300);
  --remove-button-border: var(--c-neutral-600);
  --remove-text: var(--c-neutral-300);
  --header-border: none;

  .header__logo path:nth-child(1) {
    fill: #f25c54;
  }
  .header__logo path:nth-child(2) {
    fill: #fbfdfe;
  }
}
